body {
  background-color: #18122b;
  color: white;
}

/* .nav_link:hover{
  background-color: red;
} */

/* For Webkit Browsers */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(214, 214, 214); /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: gray; /* Set the color of the scrollbar thumb */
}


::selection {
  background-color: #d90368; /* Example background color */
  color: #ffffff; /* Example text color */
}