.body {
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh;
}

.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Nsikan_profile {
  width: 350px;
  height: 350px;
  transition: all 0.6s ease;
}

.Nsikan_profile:hover {
  width: 400px;
  height: 400px;
}

.leftText {
  position: absolute;
  margin-right: 45rem;
  transition: all 0.6s ease;
}

.rightText {
  position: absolute;
  margin-left: 40rem;
  margin-top: 19rem;
  transition: all 0.6s ease;
}

.profile_hovered {
  margin-right: 50rem;
}

.h1_profile_hovered {
  text-decoration: #d90368 underline 0.5rem;
}

.right_profile_hovered {
  margin-left: 50rem;
}

.leftText p {
  font-size: 1.3rem;
}

.leftText h1 {
  font-size: 2.5rem;
}

.leftText h1:hover {
  text-decoration: #d90368 underline 0.5rem;
}

.rightText h1 {
  font-size: 2.5rem;
}

.rightText h1:hover {
  text-decoration: underline #d90368 0.5rem;
}

.bottomText {
  position: absolute;
  bottom: 0;
  text-align: center;
  margin-top: 3rem;
}

.description {
  font-size: 0.9rem;
  max-width: 40rem;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.worklink {
  text-decoration: none;
  color: white;
}

.works p {
  font-style: italic;
}

.line {
  width: 3rem;
  height: 1px;
  background-color: #d90368;
  text-align: center;
  margin-left: 0.4rem;
  transition: transform 0.5s ease; /* Add a smooth transition */
  transform: translateX(0);
}

.works:hover .line {
  transform: translateX(1rem);
}
